In [25]:
import pandas as pd
import numpy as np
import datetime as dt
import re

In [26]:
# Read csv file into dataframe

file = r'C:\Users\antriksh.chourasia\PycharmProjects\data_cleaning\leba_gpl2.csv'
df = pd.read_csv(file, index_col=None)

In [27]:
df

,Date,value,Model Code,Desc,range,quotecal,endrange,startrange,check,spike
0,2012-11-01,50.70,model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...,European Electricity Germany Heren Baseload El...,range://DB:1/END/01-11-2012/31-01-2013,HENG,2013-01-31,2012-01-11,True,NaN
1,2012-11-02,50.80,model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...,European Electricity Germany Heren Baseload El...,range://DB:1/END/01-11-2012/31-01-2013,HENG,2013-01-31,2012-01-11,True,0.001972
2,2012-11-05,50.60,model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...,European Electricity Germany Heren Baseload El...,range://DB:1/END/01-11-2012/31-01-2013,HENG,2013-01-31,2012-01-11,True,-0.003937
3,2012-11-06,50.95,model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...,European Electricity Germany Heren Baseload El...,range://DB:1/END/01-11-2012/31-01-2013,HENG,2013-01-31,2012-01-11,True,0.006917
4,2012-11-07,50.75,model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...,European Electricity Germany Heren Baseload El...,range://DB:1/END/01-11-2012/31-01-2013,HENG,2013-01-31,2012-01-11,True,-0.003925
...,...,...,...,...,...,...,...,...,...,...
90529,2019-08-22,38.30,model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2019W36/M...,European Electricity Germany Heren Baseload El...,range://DB:1/END/19-08-2019/22-08-2019,HENG,2019-08-22,2019-08-19,True,-0.011613
90530,2019-08-19,42.85,model://HE_EDEM_DE/EU.EL.DE.HE.ASS.P.2019W36/M...,European Electricity Germany Heren Peakload El...,range://DB:1/END/19-08-2019/22-08-2019,HENG,2019-08-22,2019-08-19,True,0.118799
90531,2019-08-20,44.00,model://HE_EDEM_DE/EU.EL.DE.HE.ASS.P.2019W36/M...,European Electricity Germany Heren Peakload El...,range://DB:1/END/19-08-2019/22-08-2019,HENG,2019-08-22,2019-08-19,True,0.026838
90532,2019-08-21,43.00,model://HE_EDEM_DE/EU.EL.DE.HE.ASS.P.2019W36/M...,European Electricity Germany Heren Peakload El...,range://DB:1/END/19-08-2019/22-08-2019,HENG,2019-08-22,2019-08-19,True,-0.022727
90533,2019-08-22,41.75,model://HE_EDEM_DE/EU.EL.DE.HE.ASS.P.2019W36/M...,European Electricity Germany Heren Peakload El...,range://DB:1/END/19-08-2019/22-08-2019,HENG,2019-08-22,2019-08-19,True,-0.029070

In [42]:
# Transformation - Find all the NaN value indices and their count

column1 = np.where(np.isnan(df['value']))
print(column1)
print('Count =', np.count_nonzero(column1))

(array([   38,    39,    43, ..., 89976, 90065, 90075], dtype=int64),)
Count = 3304

In [43]:
# Fill all the NaN values with zero

column2 = np.where(np.isnan(df['value']), 0, df['value'])
print(column2)
column5 = np.where(np.isnan(df['spike']), 0, df['spike'])

[50.7  50.8  50.6  ... 44.   43.   41.75]

In [44]:
# Let's check again if we have any NaN. Result should be- array[]

column3 = np.where(np.isnan(column2))
print(column3)

(array([], dtype=int64),)

In [45]:
# Now let's merge this column back into the dataframe

df['value'] = column2
df['spike'] = column5
print(df)

             Date  value                                         Model Code  \
0      2012-11-01  50.70  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...
1      2012-11-02  50.80  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...
2      2012-11-05  50.60  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...
3      2012-11-06  50.95  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...
4      2012-11-07  50.75  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...
...           ...    ...                                                ...
90529  2019-08-22  38.30  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2019W36/M...
90530  2019-08-19  42.85  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.P.2019W36/M...
90531  2019-08-20  44.00  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.P.2019W36/M...
90532  2019-08-21  43.00  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.P.2019W36/M...
90533  2019-08-22  41.75  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.P.2019W36/M...

                                                    Desc  \
0      European Electricity Germany Heren Baseload El...
1      European Electricity Germany Heren Baseload El...
2      European Electricity Germany Heren Baseload El...
3      European Electricity Germany Heren Baseload El...
4      European Electricity Germany Heren Baseload El...
...                                                  ...
90529  European Electricity Germany Heren Baseload El...
90530  European Electricity Germany Heren Peakload El...
90531  European Electricity Germany Heren Peakload El...
90532  European Electricity Germany Heren Peakload El...
90533  European Electricity Germany Heren Peakload El...

                                        range quotecal    endrange  \
0      range://DB:1/END/01-11-2012/31-01-2013     HENG  2013-01-31
1      range://DB:1/END/01-11-2012/31-01-2013     HENG  2013-01-31
2      range://DB:1/END/01-11-2012/31-01-2013     HENG  2013-01-31
3      range://DB:1/END/01-11-2012/31-01-2013     HENG  2013-01-31
4      range://DB:1/END/01-11-2012/31-01-2013     HENG  2013-01-31
...                                       ...      ...         ...
90529  range://DB:1/END/19-08-2019/22-08-2019     HENG  2019-08-22
90530  range://DB:1/END/19-08-2019/22-08-2019     HENG  2019-08-22
90531  range://DB:1/END/19-08-2019/22-08-2019     HENG  2019-08-22
90532  range://DB:1/END/19-08-2019/22-08-2019     HENG  2019-08-22
90533  range://DB:1/END/19-08-2019/22-08-2019     HENG  2019-08-22

       startrange  check     spike
0      2012-01-11   True  0.000000
1      2012-01-11   True  0.001972
2      2012-01-11   True -0.003937
3      2012-01-11   True  0.006917
4      2012-01-11   True -0.003925
...           ...    ...       ...
90529  2019-08-19   True -0.011613
90530  2019-08-19   True  0.118799
90531  2019-08-19   True  0.026838
90532  2019-08-19   True -0.022727
90533  2019-08-19   True -0.029070

[90534 rows x 10 columns]

In [46]:
# Extract Absolute period from Description column

column4 = df['Model Code'].apply(lambda v: v[v.find("ASS.")+6:v.find('/MID')])
print(column4)

0        2013M02
1        2013M02
2        2013M02
3        2013M02
4        2013M02
          ...
90529    2019W36
90530    2019W36
90531    2019W36
90532    2019W36
90533    2019W36
Name: Model Code, Length: 90534, dtype: object

In [47]:
# Now we create a new column 'AbsolutePeriod' and fill it with the column4 values

df['AbsolutePeriod'] = column4
print(df)

             Date  value                                         Model Code  \
0      2012-11-01  50.70  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...
1      2012-11-02  50.80  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...
2      2012-11-05  50.60  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...
3      2012-11-06  50.95  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...
4      2012-11-07  50.75  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2013M02/M...
...           ...    ...                                                ...
90529  2019-08-22  38.30  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.B.2019W36/M...
90530  2019-08-19  42.85  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.P.2019W36/M...
90531  2019-08-20  44.00  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.P.2019W36/M...
90532  2019-08-21  43.00  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.P.2019W36/M...
90533  2019-08-22  41.75  model://HE_EDEM_DE/EU.EL.DE.HE.ASS.P.2019W36/M...

                                                    Desc  \
0      European Electricity Germany Heren Baseload El...
1      European Electricity Germany Heren Baseload El...
2      European Electricity Germany Heren Baseload El...
3      European Electricity Germany Heren Baseload El...
4      European Electricity Germany Heren Baseload El...
...                                                  ...
90529  European Electricity Germany Heren Baseload El...
90530  European Electricity Germany Heren Peakload El...
90531  European Electricity Germany Heren Peakload El...
90532  European Electricity Germany Heren Peakload El...
90533  European Electricity Germany Heren Peakload El...

                                        range quotecal    endrange  \
0      range://DB:1/END/01-11-2012/31-01-2013     HENG  2013-01-31
1      range://DB:1/END/01-11-2012/31-01-2013     HENG  2013-01-31
2      range://DB:1/END/01-11-2012/31-01-2013     HENG  2013-01-31
3      range://DB:1/END/01-11-2012/31-01-2013     HENG  2013-01-31
4      range://DB:1/END/01-11-2012/31-01-2013     HENG  2013-01-31
...                                       ...      ...         ...
90529  range://DB:1/END/19-08-2019/22-08-2019     HENG  2019-08-22
90530  range://DB:1/END/19-08-2019/22-08-2019     HENG  2019-08-22
90531  range://DB:1/END/19-08-2019/22-08-2019     HENG  2019-08-22
90532  range://DB:1/END/19-08-2019/22-08-2019     HENG  2019-08-22
90533  range://DB:1/END/19-08-2019/22-08-2019     HENG  2019-08-22

       startrange  check     spike AbsolutePeriod
0      2012-01-11   True  0.000000        2013M02
1      2012-01-11   True  0.001972        2013M02
2      2012-01-11   True -0.003937        2013M02
3      2012-01-11   True  0.006917        2013M02
4      2012-01-11   True -0.003925        2013M02
...           ...    ...       ...            ...
90529  2019-08-19   True -0.011613        2019W36
90530  2019-08-19   True  0.118799        2019W36
90531  2019-08-19   True  0.026838        2019W36
90532  2019-08-19   True -0.022727        2019W36
90533  2019-08-19   True -0.029070        2019W36

[90534 rows x 11 columns]

In [50]:
# Once we verify the transformations are done correctly, we can create a csv file

df.to_csv(r'C:\Users\antriksh.chourasia\PycharmProjects\data_cleaning\newFile.csv',index=False)