In [89]:
import pyodbc
import pandas as pd

In [143]:
# Read the file into a variable

filename = r'C:\Users\antriksh.chourasia\PycharmProjects\pyODBC_loader\View IT Bid Floors.csv'

In [144]:
# Read the file into a pandas dataframe | Some special characters were causing problem, so I used 'unicode_escape'

df = pd.read_csv(filename,encoding='unicode_escape')

In [145]:
# Define column headers

df1 = pd.DataFrame(df,columns=['Receipt_Location','Delivery_Location','Cycle','Start_Gas_Day','End_Gas_Day','Daily_Equivalent_FT','Load_Factor','Bid_Floor'])

In [213]:
# Verify the contents of the dataframe

df1

,Receipt_Location,Delivery_Location,Cycle,Start_Gas_Day,End_Gas_Day,Daily_Equivalent_FT,Load_Factor,Bid_Floor
0,Bayhurst 1,Centram MDA,Timely,2020-11-01,9999-12-31,0.4528,295,1.3358
1,Bayhurst 1,Centram SSDA,Timely,2020-11-01,9999-12-31,0.3328,295,0.9818
2,Bayhurst 1,Centrat MDA,Timely,2020-11-01,9999-12-31,0.5065,295,1.4942
3,Bayhurst 1,Chippawa,Timely,2020-11-01,9999-12-31,1.3693,295,4.0394
4,Bayhurst 1,Cornwall,Timely,2020-11-01,9999-12-31,1.4275,295,4.2111
...,...,...,...,...,...,...,...,...
1989,Whitewood Receipt,Union Parkway Belt,Timely,2020-11-01,9999-12-31,1.1003,295,3.2459
1990,Whitewood Receipt,Union SSMDA,Timely,2020-11-01,9999-12-31,0.7921,295,2.3367
1991,Whitewood Receipt,Union SWDA,Timely,2020-11-01,9999-12-31,0.9969,295,2.9409
1992,Whitewood Receipt,Union WDA,Timely,2020-11-01,9999-12-31,0.4980,295,1.4691
1993,Whitewood Receipt,Welwyn,Timely,2020-11-01,9999-12-31,0.0998,295,0.2944

In [230]:
# Create a pyodbc connection
# If using SQL Server authentication, replace the argument 'trusted_connection' with 'UID' and 'PWD'

conn = pyodbc.connect(
    """Driver={SQL Server Native Client 11.0};
    Server=BLR-ANTRIX;
    Database=NORTHWND;
    trusted_connection=yes;"""
)

In [231]:
# USE CASE(1): Using 'cursor.fast_executemany' for big files
# Lets initiate the cursor

cursor = conn.cursor()
cursor.fast_executemany = True

In [232]:
# SQL Insert statement

sql = """INSERT INTO Stage1(
Receipt_Location,Delivery_Location,Cycle,Start_Gas_Day,End_Gas_Day,Daily_Equivalent_FT,Load_Factor,Bid_Floor)
VALUES(?,?,?,?,?,?,?,?)"""

In [ ]:
# Getting each columns ready to be supplied and storing them in a variable 'params'
# Converting dataframe to list of tuples

params = list(tuple(row) for row in df1.values)

In [ ]:
# Writing data to database with try-catch block

try:
    for row in df1.itertuples():    
        cursor.executemany(sql,params)
    conn.commit()
    print('****************Data successfully loaded to the database!***************')
except:
    conn.rollback()
    print('Error! please check your code.')
conn.close()

In [ ]:
# USE CASE(2): Using 'cursor.execute' for small files
# Lets initiate the cursor

cursor = conn.cursor()

In [ ]:
# SQL Insert statement

sql = """INSERT INTO Stage1(
Receipt_Location,Delivery_Location,Cycle,Start_Gas_Day,End_Gas_Day,Daily_Equivalent_FT,Load_Factor,Bid_Floor)
VALUES(?,?,?,?,?,?,?,?)"""

In [233]:
# Writing data to database with try-catch block
# Please note that we can explicitly supply the rows as arguments here which cannot \
# be done by 'cursor.executemany()' since it accepts exactly two arguments.

try:
    for row in df1.itertuples():    
        cursor.execute(sql,row.Receipt_Location,
                           row.Delivery_Location,
                           row.Cycle,
                           row.Start_Gas_Day,
                           row.End_Gas_Day,
                           row.Daily_Equivalent_FT,
                           row.Load_Factor,
                           row.Bid_Floor)
    conn.commit()
    print('****************Data successfully loaded to the database!***************')
except:
    conn.rollback()
    print('Error! please check your code.')
conn.close()

Data successfully loaded to the database!